<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <mvc:annotation-driven />
    <!-- 只扫描controller和Component,将use-default-filters禁用(应为启用会扫描所有的注解) -->
    <context:component-scan base-package="com.kuyou.train.web">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />
    </context:component-scan>

    <!-- 用于使用@ResponseBody后返回中文避免乱码 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                        <value>application/xml;charset=UTF-8</value>
                    </list>
                </property>
                <property name="fastJsonConfig">
                    <bean class="com.alibaba.fastjson.support.config.FastJsonConfig">
                        <property name="serializerFeatures">
                            <list>
                                <!-- 是否输出值为null的字段,默认为false -->
                                <!--
                                <value>WriteMapNullValue</value>
                                <value>WriteNullNumberAsZero</value>
                                <value>WriteNullListAsEmpty</value>
                                <value>WriteDateUseDateFormat</value>
                                <value>WriteNullBooleanAsFalse</value>
                                -->
                                <value>WriteNullStringAsEmpty</value>
                            </list>
                        </property>
                    </bean>
                </property>
            </bean>

        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 切面，日志跟踪 -->
    <aop:aspectj-autoproxy />
    <bean class="com.kuyou.train.common.log.LogAspect" />
</beans>