@charset "utf-8";
/* CSS Document */
html{background:#f8f8f8;}

body {font-size:14px; line-height:20px;font-family: "微软雅黑",Verdana,Geneva,Helvetica; color:#333;}

/**********以下是头部logo部分************/
#header{width:980px; margin:0 auto; height:60px;}

.logo{ width:300px; height:60px; float:left;cursor:pointer;}

/**********以下是登录页面login样式部分************/
.login_con{ width:980px; height:350px; margin:20px auto; margin-bottom:80px;}

.login_ban{ width:550px; height:350px; background:url(../images/login_ban2.jpg) no-repeat; float:left;}

.land_con{ width:305px; height:350px; padding:0 65px 0 60px; float:left; background:#fff;}

.land_con dl{ height:40px; width:300px; border:1px solid #ccc; margin-bottom:25px;}

.land_con dt{ float:left; width:40px; height:30px; background:url(../images/land_com.png) no-repeat center center; border-right:2px solid #ccc; margin-top:5px;}

.land_con dd{ float:left;}

.land_con dd input{ border:0; height:37px; width:220px; line-height:37px; color:#666; padding-left:10px; color:#888;}

.land_con .lock{ background:url(../images/land_lock.png) no-repeat center center;}

.free_login{height:30px; width:300px; }

.free_login a{float:right;  color:#f60;}

.btn4{ width:258px; height:41px; background:url(../images/train-bg_v1.png) no-repeat left -374px; border:0;color:#fff; line-height:41px; font-weight:400; cursor:pointer; margin-top:10px; text-align:center; margin:20px auto; font-size:16px;}

.btn4:hover{background:url(../images/train-bg_v1.png) no-repeat left -415px;}

.land_tit{ height:80px; line-height:80px; width:100%; position:relative;}

.land_div{ height:80px; width:300px;}

.land_div_p{ width:290px; height:22px; line-height:22px; border:1px solid #ffb533; background:#fff5d1; color:#333; padding-left:10px; font-size:12px;overflow:hidden; margin-top:5px;}

.land_div_p span{display:inline-block; height:17px; width:20px; background:url(../images/trainbg.png) no-repeat left -573px;}

.land_tit b{ font-size:18px;}

.land_tit a{ color:#f60; position:absolute; right:0; top:0;}

/**********以下是footer部分************/

.footer { border-top: 1px solid #D3D3D3; padding: 10px 0px 30px; width: 1180px; margin:0 auto; margin-top:30px; font: 14px/24px arial,"Simsun";}

.footer_nav {text-align: center;}

.footer_nav a{
    margin: 0px 7px;
    color: #5A5A5A;
}

.footer_nav a:hover{
    color: #007ED9;
    text-decoration: none;
}

.footer_nav b {
    font-weight: 400;
    color: #D3D3D3;}
	
.copyright {
    text-align: center;
    line-height: 18px;
}

.copyright span {
    padding: 0px 10px;
    color: #5A5A5A;
}

/*******以下是订单支付页面head_step样式********/
.head_step { width:980px; height:30px; margin:0 auto; padding-left:20px;}

.head_step ul{ text-align:center; width:100%; margin-top:30px;}

.head_step li {float: left;height: 16px;
line-height: 16px; color: #999; font-size: 16px;
background: url(../images/train_info_head.jpg) no-repeat right -16px; text-align: right;
width:285px; margin-right:40px;}

.head_step li.on { background-position: right 0px;
color: #69BD36;}


/**********以下是注册页面填写信息registerFill内容部分样式************/
.reFill_all{ width:978px; height:auto; border:1px solid #86CBFF; margin:20px auto;}

.message_tit{ width:958px; height:40px; background:#EDF8FF; padding-left:20px; line-height:40px; font-size:16px;}

.reFill_con{ width:848px; padding:20px 0 0 130px; overflow:hidden;}

.reFill_con dl{ width:700px; height:60px; position:relative;}

.reFill_con dd{ float:left; line-height:40px;}

.reFill_con dt{ float:left; margin-right:20px; height:40px; line-height:40px;}

.reFill_con dt span.span{ display:inline-block; width:90px; height:40px; margin-right:10px; text-align:right; line-height:40px;}

.red{ color:red;}

.reFill_con .reFill_p{ width:200px; height:18px; line-height:18px; border:1px solid #F00; background:#fbeec6; color:#f60; padding-left:10px; font-size:12px; margin-left:93px; overflow:hidden; position:absolute; left:0; bottom:3px;}

.reFill_con dt input{border:1px solid #ccc; height:30px; width:300px; line-height:30px;  padding-left:10px; color:#ccc; margin-top:5px;}

.Sfen_div{ margin:20px 0 20px 63px; clear:both;}

.Sfen_div p{ height:63px; line-height:62px; margin:10px 0 10px 20px;}

.Sfen_div .input{border:1px solid #ccc; height:30px; width:150px; line-height:30px;  padding-left:10px; color:#ccc; margin-left:20px;}

.reFill_con dd span{ width:20px; height:17px; background:url(../images/trainbg.png) no-repeat left -573px; display:inline-block;}

.reFill_con dd span.yes{ width:20px; height:17px; background:url(../images/trainbg.png) no-repeat left -596px; display:inline-block;}

.reFill_con .reF_test input{border:1px solid #ccc; height:30px; width:176px; line-height:30px; margin-top:10px; padding-left:10px; color:#ccc; }

.reFill_con .reF_testspan{ height:31px; width:102px; cursor:pointer; display:inline-block; margin:10px 20px 0 3px; }

.reF_test a{ color:#f60;}

.reg_sure a{ color:#1D7AD9;}

.reg_sure{ margin:10px 0 0 98px;}

.password_strength{ height:30px; width:190px; clear:both; margin-left:100px;}

.password_strength span { display: block;text-align: center;line-height: 22px;color: #999;}

.password_strength p { padding: 0px;margin: 0px;height: 8px; overflow: hidden;background-color: #DDD;}

.password_strength p.on{background:#f60;}

.password_strength li { float: left;width: 54px; margin-left: 4px;display: inline;}

.clearfix:after { content: "."; display: block;clear: both;visibility: hidden;line-height: 0; height: 0px;}

/**********以下是注册成功页面registerOk内容部分样式************/

.successdl dt{ float:left; margin-right:30px;}

.successdl dd{ float:left; margin-left:30px; margin-bottom:20px;}

.successdd{width:500px; height:40px; line-height:35px; font-size:14px; padding-top:30px;}

.successdd b{ color:#f60;}

.reFill_con .successdl .successdd .successp{ font-size:22px; height:25px; width:400px; display:inline-block; margin-bottom:20px;}

.successdd a{ color:#1D7AD9;}

.successdl strong{ display:inline-block; height:60px; width:60px; background:url(../images/trainbg.png) no-repeat right -480px; margin-top:30px;}

.succ_last{ clear:both; float:right; margin-top:30px;}

.succ_last a{color:#f60;}

.reFill_con .successdl .successdd .btn3{ width:77px; height:26px; background:url(../images/trainbg.png) no-repeat left -30px; border:0;color:#fff; line-height:26px; cursor:pointer; margin-top:10px; text-align:center; font-size:12px; display:inline-block;}
.reFill_con .successdl .successdd .btn3:hover{ background:url(../images/trainbg.png) no-repeat left 0px;}


/*******以下是忘记密码页面registerPass；pass_step样式********/
.pass_step { width:980px; height:46px; margin:0 auto; padding-left:20px; margin-bottom:20px;}

.pass_step dl{ width:245px; float:left; height:46px;}

.pass_step dt{text-align:center; height:30px; line-height:30px;} 

.pass_step dd{height:14px; background: url(../images/train_info_head2.png) no-repeat right -16px; }

.pass_step dd.on {background: url(../images/train_info_head2.png) no-repeat right 0px; }
.pass_step dt.on {color:#69BD36;}

.btn1{ width:129px; height:39px; background:url(../images/train-bg_v1.png) no-repeat -258px -331px; color:#fff; border:0px; font-weight:300px; font-size:16px; line-height:39px; text-align:center; margin:5px 0 30px 100px; cursor:pointer;}

.btn1:hover{ background:url(../images/train-bg_v1.png) no-repeat -258px -372px; }

/*******以下是验证身份页面registerSfen样式********/
.Sfen_p{ margin:40px 0;}

.reFill_con .Sfen_d{ width:580px; height:64px; }

.reFill_con .Sfen_d p{float:left; line-height:64px; height:64px; width:320px;}

.reFill_con .Sfen_d b{ width:64px; height:64px; display:inline-block; background:url(../images/phone.png) no-repeat; margin-left:-16px; float:left;}

.testsf{ display:inline-block; width:300px; height:40px; line-height:40px;}

.btn5{ width:105px; height:40px; background:url(../images/trainbg.png) no-repeat left -84px; color:#fff; font-weight:300px; font-size:13px; line-height:40px; text-align:center; cursor:pointer; margin-left:30px; border:0px; }

.btn5_on{ width:105px; height:40px; background:url(../images/trainbg.png) no-repeat left -123px; color:#888; font-weight:300px; font-size:13px; line-height:40px; text-align:center; margin-left:30px; border:0px; }


/*******以下是重置密码页面registerReset样式********/
.reFill_con dd .reset_s{ width:20px; height:17px; background:url(../images/trainbg.png) no-repeat left -573px; display:inline-block;}













