.darkBlue{color:#024591;}

.showLocation{width:420px; padding:5px; height:20px; line-height:20px; background:#fafafa; border:1px solid #e7e7e7;}
.input1{width:80px; padding-left:5px; height:25px; line-height:25px; font-size:25px; color:#f00; font-weight:bold; text-shadow:0 1px 1px #000;}
.input2{padding-left:5px; height:25px; line-height:25px; color:#333; font-size:16px; font-weight:bold; border:1px solid #ccc;}
.bgLightYellow{background:#fff3df; border:1px solid #f3caaf;}
.bgGray{background:#fafafa; border:1px solid #ccc;}
.bgBlue{background:#e8f8ff; border:1px solid #59a8d6;}

.showAmount{float:left;}
.showAmount ul{list-style-type:none;}
.showAmount li{width:90px; padding-left:10px; height:30px; line-height:30px; font-size:14px; float:left;}
.showAmount .currentAmount{color:#f00; font-size:20px; font-weight:bold;}

.showAmount1{float:left;}
.showAmount1 ul{list-style-type:none;}
.showAmount1 li{width:85px; padding-left:15px; height:30px; line-height:30px; font-size:14px; float:left;}
.showAmount1 .currentAmount1{color:#f00; font-size:20px; font-weight:bold;}

.showAmount2{float:left;}
.showAmount2 ul{list-style-type:none;}
.showAmount2 li{width:80px; padding-left:20px; height:30px; line-height:30px; font-size:14px; float:left;}
.showAmount2 .currentAmount2{color:#f00; font-size:20px; font-weight:bold;}

.showAmount3{float:left;}
.showAmount3 ul{list-style-type:none;}
.showAmount3 li{width:75px; padding-left:25px; height:30px; line-height:30px; font-size:14px; float:left;}
.showAmount3 .currentAmount3{color:#f00; font-size:20px; font-weight:bold;}

.sLargeInput{width:430px; height:60px; line-height:60px; text-shadow:0 1px 1px #000; color:#024591; font-weight:bold; font-size:60px; border:1px solid #ccc; font-family:Arial;}/* 1717171717171717171717 */
.customizeInput{border:1px solid #ccc; font-family:Arial;}/* 17171708171717171717171717 */


.blueTable{border:1px solid #59a8d6; border-collapse:collapse; float:left;}
.blueTable td{height:30px; line-height:30px; border:1px solid #59a8d6;}
.blueTable .trStyle{color:#08c; background:#e8f8ff;}

.blueTable2{border:1px solid #59a8d6; border-collapse:collapse; float:left;}
.blueTable2 td{border:1px solid #59a8d6; padding:2px 0;}
.blueTable2 .trStyle2{color:#08c; background:#e8f8ff;}

.divTiny1{width:105px; margin:auto; word-break:break-all;}