<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">


	<context:component-scan base-package="com.l9e.transaction.job" />

	<!-- 总管理类,执行调度程序 -->
	<bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 通知出票系统定时任务 -->
				<ref bean="sendBookQuartzTime" />
				<ref bean="sendOutQuartzTime" />
				<ref bean="sendRefundQuartzTime" />

				<!-- 途牛回调结果 -->
				<ref bean="callbackBookQuartzTime" />
				<ref bean="callbackOutQuartzTime" />
				<ref bean="callbackRefundQuartzTime" />
				<ref bean="callbackChangeQuartzTime" />
				<ref bean="idenValiQuartzTime" />
				<ref bean="callbackQueueOrderTime" />
			</list>
		</property>
	</bean>

	<!-- 向出票系统发送占座请求 -->
	<bean id="sendBookQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="sendBookTask" />
		</property>

		<property name="cronExpression">
			<value>0/3 * * * * ?</value>
		</property>
	</bean>
	<bean id="sendBookTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuOutTicketJob" />
		</property>
		<property name="targetMethod">
			<value>book</value>
		</property>
	</bean>

	<!-- 向出票系统发送出票请求 -->
	<bean id="sendOutQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="sendOutTask" />
		</property>

		<property name="cronExpression">
			<value>0/3 * * * * ?</value>
		</property>
	</bean>
	<bean id="sendOutTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuOutTicketJob" />
		</property>
		<property name="targetMethod">
			<value>out</value>
		</property>
	</bean>

	<!-- 向出票系统发送退款请求 -->
	<bean id="sendRefundQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="sendRefundTask" />
		</property>

		<property name="cronExpression">
			<value>0/3 * * * * ?</value>
		</property>
	</bean>
	<bean id="sendRefundTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuOutTicketJob" />
		</property>
		<property name="targetMethod">
			<value>refund</value>
		</property>
	</bean>



	<!-- 向途牛回调占座结果 -->
	<bean id="callbackBookQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="callbackBookTask" />
		</property>

		<property name="cronExpression">
			<value>0/3 * * * * ?</value>
		</property>
	</bean>
	<bean id="callbackBookTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuCallbackJob" />
		</property>
		<property name="targetMethod">
			<value>book</value>
		</property>
	</bean>

	<!-- 向途牛回调出票结果 -->
	<bean id="callbackOutQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="callbackOutTask" />
		</property>

		<property name="cronExpression">
			<value>0/3 * * * * ?</value>
		</property>
	</bean>
	<bean id="callbackOutTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuCallbackJob" />
		</property>
		<property name="targetMethod">
			<value>out</value>
		</property>
	</bean>

	<!-- 向途牛回调退款结果 -->
	<bean id="callbackRefundQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="callbackRefundTask" />
		</property>

		<property name="cronExpression">
			<value>0/3 * * * * ?</value>
		</property>
	</bean>
	<bean id="callbackRefundTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuCallbackJob" />
		</property>
		<property name="targetMethod">
			<value>refund</value>
		</property>
	</bean>
	<!-- 向途牛回调改签结果 -->
	<bean id="callbackChangeQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="callbackChangeTask" />
		</property>

		<property name="cronExpression">
			<value>0/5 * * * * ?</value>
		</property>
	</bean>
	<bean id="callbackChangeTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuCallbackJob" />
		</property>
		<property name="targetMethod">
			<value>changeNotice</value>
		</property>
	</bean>

	<!-- 向途牛上传身份核验信息，即白名单 -->
	<bean id="idenValiQuartzTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="idenValiTask" />
		</property>
		<property name="cronExpression">
			<value>0/1 * * * * ?</value>
		</property>
	</bean>
	<bean id="idenValiTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuIdenValiJob" />
		</property>
		<property name="targetMethod">
			<value>indentityValidationUpload</value>
		</property>
	</bean>
	<!-- 12306排队订单推送 -->
	<bean id="callbackQueueOrderTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="queueOrderTask" />
		</property>
		<property name="cronExpression">
			<value>0/5 * * * * ?</value>
		</property>
	</bean>
	<bean id="queueOrderTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tuniuCallbackJob" />
		</property>
		<property name="targetMethod">
			<value>queueNotice</value>
		</property>
	</bean>


	<!-- quartz注解开发配置 -->
	<!-- 注解定时任务 -->
	<task:executor id="JOB" pool-size="${quartz.poolSize}" />
	<task:annotation-driven executor="JOB" />

</beans>
