<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
		<!--servlet等其他配置-->
<!--  
<security-constraint>
<web-resource-collection>
<web-resource-name>My Test</web-resource-name>

<url-pattern>*.jsp</url-pattern>
<url-pattern>*.do</url-pattern>
 <http-method>GET</http-method>
 <http-method>POST</http-method>
</web-resource-collection>

<auth-constraint>
<role-name>huochepiao</role-name>
</auth-constraint>

</security-constraint>
<security-constraint>
<web-resource-collection>
<web-resource-name>Test</web-resource-name>

<url-pattern>*.jsp</url-pattern>
<url-pattern>*.do</url-pattern>
 <http-method>GET</http-method>
 <http-method>POST</http-method>
</web-resource-collection>

<auth-constraint>
<role-name>kefu</role-name>
</auth-constraint>

</security-constraint>

<login-config>
    <auth-method>FORM</auth-method>
    <realm-name>huochepiao</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
</login-config>
<security-role>
    <role-name>huochepiao</role-name>
</security-role>
<security-role>
    <role-name>kefu</role-name>
</security-role>

-->


	<!-- 开始 -->
	<!--
	   <filter>
		     <filter-name>AccessFilter</filter-name>
        <filter-class>
            com.speed.speedadmin.base.AccessFilter
        </filter-class>
		<init-param>
			<param-name>com.speed.speedadmin.accesscentral.cas.client.filter.loginUrl</param-name>
			<param-value>http://192.168.63.34:18080/userLogin_apply.do</param-value>
	
		</init-param>
		<init-param>
			<param-name>com.speed.speedadmin.accesscentral.cas.client.filter.validateUrl</param-name>
			<param-value>http://192.168.63.34:18080/userLogin_validateTicket.do</param-value>
		</init-param>
		<init-param>
			<param-name>com.speed.speedadmin.accesscentral.cas.client.filter.logOutUrl</param-name>
			<param-value>http://192.168.63.34:18080/userLogin_loginOut.do</param-value>
		</init-param>
		<init-param>
			<param-name>com.speed.speedadmin.accesscentral.cas.client.filter.serverName</param-name>
			<param-value>192.168.65.126:18080</param-value>
		</init-param>
		<init-param>
			<param-name>query</param-name>
			<param-value>query</param-value>
		</init-param>
		<init-param>
			<param-name>add</param-name>
			<param-value>add</param-value>
		</init-param>
		<init-param>
			<param-name>update</param-name>
			<param-value>update</param-value>
		</init-param>
		<init-param>
			<param-name>delete</param-name>
			<param-value>delete</param-value>
		</init-param>
    </filter>
    
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	 -->
	<!-- 结束 -->
	 <servlet>
	 <servlet-name>ImageServlet</servlet-name>
	 <servlet-class>com.l9e.checkCode.ImageServlet</servlet-class>
	 </servlet>  
	 <servlet-mapping>    
	 <servlet-name>ImageServlet</servlet-name>   
	 <url-pattern>/imageServlet</url-pattern>  
	 </servlet-mapping>
	
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/springMVC.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:context/applicationContext.xml
		</param-value>
	</context-param>
	
	<servlet>
        <servlet-name>DisplayChart</servlet-name>
        <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>DisplayChart</servlet-name>
    	<url-pattern>/servlet/DisplayChart</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>initConfigServlet</servlet-name>
		<servlet-class>
			com.l9e.servlet.DelegatingServletProxy
		</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
	  	<servlet-name>fileUploadServlet</servlet-name>
	  	<servlet-class>com.l9e.fileUpload.FileUploadServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>PicUploadServlet</servlet-name>
    <servlet-class>com.l9e.picUpload.PicUploadServlet</servlet-class>
  </servlet>

	  
	<servlet-mapping>
	  	<servlet-name>fileUploadServlet</servlet-name>
	  	<url-pattern>/file/fileupload</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicUploadServlet</servlet-name>
    <url-pattern>/PicUpload</url-pattern>
  </servlet-mapping>
  
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>/pages/login/login.jsp</welcome-file>
	</welcome-file-list>
</web-app>
